
body {
  /* background-color: lightgoldenrodyellow; */
}

.App {
  /* text-align: center; */
  /* width: 100%; */
  /* background-color: lightgoldenrodyellow; */
}

.form-container {
  /* border: 3px solid gray; */
  /* background-color: lightskyblue; */
  /* border-radius: 15px;
  border: 3px solid darkslategray; */
  margin-top: 25px;
  margin-right: 30px;
  margin-left: 30px;
  /* height: 90vh; */
}

.tweet-search {
  margin-left: 20px;
  margin-right: 0;
  /* margin-top: 15px; */
}

.search-results {
  /* background: blanchedalmond; */
  /* border: 3px solid gray; */
  /* border-radius: 15px; */
  /* height: 75vh; */
  /* margin: 0px; */
  /* width: 100%; */
  margin-top: 10px;
  height: calc(100vh - 150px);
  align-content: space-around;
  flex: 1;
  overflow-y: scroll;
}

.tweet-card {
  margin: auto;
  background: rgba(0,0,0,.144);
  /* space below card */
  margin-bottom: 10px;
}
.tweet-card-chart {
  margin: auto;
  background: rgba(0, 0, 0, 0.199);
}
.card-header {
  /* title text */
  color: white;
  /* dark title banner */
  background-color: #343a40;
}
.card-body {
  /* remove space around header banner */
  padding: 0px !important;
}
.card-text {
  /* give a dash of space around inside text */
  padding: 5px !important;
}
.search-bar {
  margin: auto;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  /* margin: 10px; */
  background-color: rgba(0, 0, 0, 0.144);
}


.analysis-container-div {
  /* margin-left: 20px; */
}

.score-total-div {
  /* align 'Analyses' header with chart (otherwise way too far left) */
  margin-left: 100px;
}